section{
    width: 800px;
    height: 500px;
    background-image: url("https://www.google.com/search?q=cake+images&rlz=1C1CHBD_enIN929IN929&sxsrf=AOaemvInUWwVfaXLtydcj2IA53rT45vtAw:1640161619029&tbm=isch&source=iu&ictx=1&fir=GOVDILThFZr7vM%252CYfkRj_wr1ClZdM%252C_%253BqbaG-e3bMejyfM%252CAR1aN5K3DLnEJM%252C_%253BhPg40YfrONwCHM%252Cf8LM9cVxlbPi9M%252C_%253B33tDN0qhPq_pQM%252C371ojLzitSa_9M%252C_%253Bg7UcLOz0kDPiXM%252COXhh2sOujncUeM%252C_%253BsLgRvZBN7-DfqM%252CBKS55q-Zy9XYDM%252C_%253BCrTpYY2eywCkSM%252CnI_5ToMWXDK75M%252C_%253BlvK06lIh6wqaMM%252Cx7nHg7vE29phJM%252C_%253Bh26m7JvliScyQM%252CFUdxrSydr2PmFM%252C_%253B6NS9Wg84DllV7M%252Cv9X-UcLc8gtwUM%252C_%253Bd6CUSCDpnwRdBM%252Cg5TDnS1KOmBWIM%252C_%253B1cey3mwkDxsFJM%252Ch9Oq1OM73yYQGM%252C_%253BCc4vHJ7SP_SG9M%252Cf8LM9cVxlbPi9M%252C_%253BBGJXn1aHQvJGiM%252CvdVzt5qyEYREVM%252C_%253BSrgz7QDxu3XD0M%252CLS73GdQoPy0wMM%252C_%253BiOpgjiu7gHhCpM%252Ct3Xzk_bbq8YY-M%252C_&vet=1&usg=AI4_-kTRImD_Ktk2DwjCWLmwhJn0rqBHDA&sa=X&ved=2ahUKEwivlbSV_vb0AhWaslYBHSm2BJ8Q9QF6BAgUEAE#imgrc=h26m7JvliScyQM");
}
h1{
    font-size: x-large;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    

}
main{
    width: 10px;

    font-style: italic,bold;
}
    
